@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove input autofill yellow background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #222327 inset !important;
}

body{
    background-color: #000;
    color: #fff;
}
